fastapi
uvicorn
python-dotenv
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-jose
requests
joblib
numpy
pandas
scikit-learn
scikit-fuzzy
mysql-connector-python
email-validator
python-multipart
aiofiles
packaging
networkx
sendgrid


